layout {
  default_tab_template {
    // the default zellij tab-bar and status bar plugins
    pane size=1 borderless=true {
        plugin location="zellij:tab-bar"
    }
    children
    pane size=2 borderless=true {
        plugin location="zellij:status-bar"
    }
  }
 
  cwd "/home/ktorok/Projects/CompReg/Git/RegistryCxn_webapp"

  tab name="Dev" focus=true {
    pane {
      pane 
      pane size=10 command="npm" {
          start_suspended true
          args "run" "devserver"
      }
    }
  }
  tab name="Test" {
    pane split_direction="vertical" {
      pane 
      pane command="npm" {
        start_suspended true
        args "run" "test-watch"
      }
    }
  }
}
